<h4>Post Event</h4>
<%= form_for(@event, :html => { :class => "form-horizontal", :id => "eventForm" }) do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title, :placeholder => "Title" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :details, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :details, :placeholder => "Details", :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :volunteers_needed, "No. of Volunteers", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :volunteers_needed, :placeholder => "Volunteers Required" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
<% end %>