<!DOCTYPE html>
<html>
<head>
  <title>Hackot</title>
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Hackot</a>
        <ul class="nav pull-right">
          <% if current_resource %>
            <% if is_rc? %>
              <li><%= link_to "Events", relief_center_path(current_resource) %></li>
              <li><%= link_to "SMS Test", send_updates_relief_centers_path %></li>
            <% end %>
          <li><a href="/logout">Sign Out</a></li>
          <% else %>
          <li><a href="/auth/facebook?type=relief_center">Relief Center <i class="icon-facebook-sign"></i></a></li>
          <li><a href="/auth/facebook?type=user">Volunteer <i class="icon-facebook-sign"></i></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
  	<h2 id="resource-name"><%= current_resource.name if current_resource %></h2>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
  <%= content_for :js %>
</body>
</html>
