<!DOCTYPE html>
<html>
<head>
  <title>Hackot</title>
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Hackot</a>
        <% if current_resource %>
        <a href="/logout" class="btn pull-right">Sign Out</a>
        <%= link_to "Edit Profile", relief_center_path(current_resource.id), :class => "btn pull-right" %>
        <% else %>
        <a href="/auth/facebook?type=relief_center" class="btn pull-right">Login with facebook</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
