<!DOCTYPE html>
<html>
<head>
  <title>Hackot</title>
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Hackot</a>
        <% if current_resource %>
        <a href="/logout" class="btn pull-right">Sign Out</a>
        <%#= link_to "Edit Profile", index_path, :class => "btn pull-right" %>
        <% else %>
        <a href="/auth/facebook?type=relief_center" class="btn pull-right">Relief Center</a>
        <a href="/auth/facebook?type=user" class="btn pull-right">Sign-up as Volunteer</a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
  	<h2><%= current_resource.name if current_resource %></h2>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
  <%= content_for :js %>
</body>
</html>
